.no-webp .header__start{
    background-image: url(../img/header.jpg);
}
.webp .header__start{
    background-image: url(../img/header.webp);
}
.header{
    background-color: $darkGrey;
    padding: 1rem 0 3rem 0;

    &.header__start{
        background-position: center center;
        background-size: cover;
        @include tablet{
            min-height: 70rem;
        }
        .header__content{
            @include tablet{
                min-height: 70rem;
            }
        }
    }
}
.header__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1{
        text-align: left;
        color: $white;
        font-weight: $bold;
        line-height: 2;
        max-width: 60rem;
    }
}